@use "../components/mixins" as *;



.features{
    @include main-padding;
    box-shadow:  20px 25px rgb(0 0 0 / 15%);
    .max-width{
        @include max-width;

        .heading{
            @include header;
        }
    }
}

.features-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .card{
        width: calc( 25% - 20px );
        background-color: rgb(244,244,244);
        margin-top: 20px;

        .box{
            padding:30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #222;
            gap: 10px;

            .icon{
                font-size: 40px;
                color: rgba($color: #000000, $alpha: 0.8);
                margin-bottom: 24px;

            }
            .text-1{
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;

            }
            .text-2{
                font-size: 16px;
                color: rgba($color: #000000, $alpha: 0.7);

            }
            p{
                font-size: 14px;
                color: rgba($color: #000000, $alpha: 0.8);
                text-align: center;
                line-height: 22.652px;
            }
        }
    }
}

@media screen and (max-width:1230px) {
    .features-content .card{
        width: calc(50% - 33px);
    }
}
@media screen and (max-width:816px) {
    .features-content .card{
        width: calc(100% - 33px);
    }
}
@media screen and (max-width:600px){
    .features .max-width{
        @include max-width-responsive;
    }
}